<h1>Add Your Article Here</h1>
<form action="create/add_article" method="get">

	<label>Author:	</label> 	<input type="text" name="author"></br>
	<label>Title: 	</label>	<input type="text" name="title"></br>
	<label>Content:	</label>	<input type="text" name="content"></br>
								<input type="submit" value="Add">

</form>