<h1>Edit Article</h1>

<form action="/show/<%= @article.id %>/update" method="get">

	<label>Author:	</label> 	<input type="text" name="author" value="<%= @article.author %>"></br>
	<label>Title: 	</label>	<input type="text" name="title" value="<%= @article.title %>"></br>
	<label>Content:	</label>	<input type="text" name="content" value="<% @article.content %>"></br>
								<input type="submit" value="Update">

</form>

