<h1><% @article.title %></h1>
Author: <%= @article.author %></br>
Content: <%= @article.content %></br>
<a href="/show/<%= @article.id %>/edit">Edit</a>
<a href="/show/<%= @article.id %>/delete">Delete</a>